.menuButton {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 0 2px;
    border-radius: 5px;
    appearance: none;
    text-align: center;
}
.menuButton:hover {
    background-color: #e3e3e3;
}
.menuItems {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
