.topMenu {
    background-color: rgba(244, 244, 244, 0.7);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.menuBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.menuBarInner {
    display: flex;
}

.slideShow {
    padding: 15px 25px;
    border-radius: 15px;
    background-color: #f8e8d5;
    border: 1px solid rgba(227, 195, 157, 0.5);
    font-size: 20px;
    cursor: pointer;
}
.slideShow:hover {
    background-color: #e3c39d;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menuBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presName {
    font-size: 20px;
    margin: 0;
    padding: 0 10px;
}

.menuItems {
    display: flex;
    background-color: #f4f4f4;
}

.menuItem {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.toolBar {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #d5d5d5;
    list-style-type: none;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 0 20px;
    gap: 10px;
}

.toolbarIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.extraBlock {
    display: flex;
    gap: 10px;
}

.userBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: #f8e8d5;
    border: 1px solid rgba(227, 195, 157, 0.5);
    font-size: 15px;
    cursor: pointer;
}
.userBlock:hover {
    background-color: #bbbbbb;
}
.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #f8e8d5;
    border: 1px solid rgba(227, 195, 157, 0.5);
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
