.slideView {
    max-width: 960px;
    max-height: 540px;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #a4a4a5;
    background: white;
}

.slideView.initial {
    border: 2px dashed #d5d5d5;
    background: rgba(230, 230, 230, 0.5);
}

.slideViewAdd {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    cursor: pointer;
    background: white;
}

[data-drag-id] {
    transition: all 0.2s ease;
    cursor: grab;
}

[data-drag-id]:hover {
    border-color: #007bff;
}

.selectionBoundingBox {
    position: absolute;
    border: 2px dashed #007bff;
    background-color: rgba(0, 123, 255, 0.1);
    pointer-events: none;
    z-index: 99;
    box-sizing: border-box;
    display: none;
}